#Tren_Inicio {
	display:inline-block;
	width:35%;
}

#Titulo_Inicio {
	display:inline-block;
	width:60%;
}

body {
	position:fixed;
	left:27%;
	top:20%;
}

form {
	position:relative;
	left:28%;
}

#submit {
	width:40%;
	font-size:20px;
	background:rgb(0,150,255);
	color:white;
	border:0;
	border-radius:5px;
}