#Tren_Inicio {
	display:inline-block;
	width:35%;
}

#Titulo_Inicio {
	display:inline-block;
	width:60%;
}

body {
	position:fixed;
	left:27%;
	top:20%;
}

form {
	position:relative;
	left:28%;
}

#submit {
	width:40%;
	font-size:20px;
	background:rgb(0,150,255);
	color:white;
	border:0;
	border-radius:5px;
	position:relative;
	left:35%;
}

/*#Tren_Inicio {
	display: inline-block;
}

#Titulo_Inicio {
	display: inline-block;
}

.centrar {
	width:37%;
	margin:auto;
}
.centrar2 {
	width:20%;
	margin:auto;
}

/*.containerIndex {
	position: relative;
	margin:auto;
	/*margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px*/
}

@media ( min-width :576px) {
	.containerIndex {
		padding: 20 15 20 15;
	}
}

@media ( min-width :768px) {
	.containerIndex {
		padding: 40 15 40 15;
	}
}

@media ( min-width :992px) {
	.containerIndex {
		padding: 60 15 60 15;
	}
}

@media ( min-width :1200px) {
	.containerIndex {
		padding: 180 500;
	}
}*/