#Tren_Inicio {
	display:inline-block;
	width:10%;
}

#Titulo_Inicio {
	display:inline-block;
	width:20%;
}

header {
	border:1px solid black;
	width:90vw;
	margin:50 50;
}

body {
	position:absolute;
}

#mapaSection {
	border:1px solid black;
	height:60vh;
	width:90vw;
	margin:50;
}

#sendPackage {
	border:1px solid black;
	text-decoration:none;
	color:black;
	margin:50;
	font-size:20px;
	padding:10;
}