header {
	border: 1px solid black;
}

#mapaSection {
	border: 1px solid black;
	text-align:center;
	margin: 0;
}

#textTrain {
	font-size: 20px;
}

.text {
	font-size: 28px;
}

#map {
	height: 58%;
	margin-top: 20px;
}

nav {
	margin: 20 0;
}

.numbers {
	background-color:lightgrey;
	font-size: 28px;
}