header {
	border: 1px solid black;
}

#mapaSection {
	border: 1px solid black;
	text-align:center;
	margin: 0px;
}

#textTrain {
	font-size: 18px;
}

.text {
	font-size: 28px;
}

#map {
	height: 90%;
	margin-top: 20px;
	
}

nav {
	margin: 20px 0px;
}

.numbers {
	background-color:lightgrey;
	font-size: 28px;
}

#logout {
	float: right;
	margin: 20px 0px;
}

#boton {
	margin: 20px 0px;
}