header {
	border: 1px solid black;
}

#form1 {
	border: 1px solid black;
	width: 100%;
	padding: 20px 20px;
	margin-top: 20px;
}

#form2 {
	border: 1px solid black;
	width: 100%;
	padding: 20px 20px;
	margin-top: 20px;
}

#form3 {
	border: 1px solid black;
	width: 100%;
	padding: 20px 20px;
	margin-top: 20px;
}

#form4 {
	border: 1px solid black;
	width: 100%;
	padding: 20px 20px;
	margin-top: 20px;
}

#form5 {
	border: 1px solid black;
	width: 100%;
	padding: 20px 20px;
	margin-top: 20px;
}

#dropdown {
	text-align: center;
	margin-top: 20px;
	font-size: 24px;
}

h4 {
	text-align: center;
}

#exit {
	margin-top: 20px;
	float: right;
}