header {
	border: 1px solid black;
}

.numbers {
	background-color: lightgrey;
}

#map {
	height: 55vh;
	width: 45vw;
	margin: 20 20;
}

#statsButton {
	float: right;
	margin: 20 5;
}