header {
	border: 1px solid black;
}

#chooseTrain {
	margin: 50 0;
}

#info {
	border: 1px solid black;
	margin-top: 50px;
	display: none;
}

#button {
	margin: 20 27;
}

.numbers {
	background-color: lightgrey;
}

#stop {
	padding: 10 20;
}