header {
	border: 1px solid black;
}

#chooseTrain {
	margin-top: 50px;
}

#info {
	border: 1px solid black;
	margin-top: 20px;
	display: none;
	width:100%;
}

#button {
	margin: 20px 27px;
}

.numbers {
	background-color: lightgrey;
}

#stop {
	padding: 10 20;
}

#logout {
	margin-top: 20px;
	float: right;
}