#Tren_Inicio {
	display:inline-block;
	width:10%;
}

#Titulo_Inicio {
	display:inline-block;
	width:20%;
}

header {
	border:1px solid black;
	width:90vw;
	margin:50 50;
}

span {
	font-size:20px;
	position:relative;
	top:25%;
	left:40%;
}

#info {
	border:1px solid black;
	height:60vh;
	width:90vw;
	margin:50;
}